<div class="popular col-4-app">
    <h4 class="post-social-heading">Popular Post</h4>
    <div class="post-wrapper"> 
       <img src="/assets/img/rect.png" alt="" class="image-user">
       <p class="post-user">I love Donut Bonbon Cakes</p>
    </div>
    <div class="post-wrapper"> 
       <img src="/assets/img/rect.png" alt="" class="image-user">
       <p class="post-user">Candy fruitcake biscuit chupa chups</p>
    </div>
    <div class="post-wrapper"> 
       <img src="/assets/img/rect.png" alt="" class="image-user">
       <p class="post-user">Candy fruitcake biscuit chupa chups</p>
    </div>
</div>
