<section class="social-media">
    <div class="container">
        <div class="social-media-post">
            <div class="logo">
                <a href=""><img src="/assets/img/logo.png" alt="" class="logo-main"></a>
            </div>
            <div class="post-social">
                {% include social/social-post.html %}
                {% include social/social-tweeter.html %}
                {% include social/social-about.html %}
            </div>
        </div>
    </div>   
  </section>