    
        <div class="container">
          <div class="cta">
            <div class="cta-img"> <img class="iphone" src="/assets/img/iphone.png" alt=""> </div>
              <div class="cta-info">
                <h1 class="cta-bold">CHOCOLATE PUDDING DESSERT JELLY</h1>
                <p class="cta-para">Fruitcake donut gummies, Candy liquorice biscuit, Sugar plum jelly gummi bears brownie toffee cupcake cara- mels brownie cookike</p>
                <a class="btn-download" href="/"><img class="phone-icon" src="/assets/img/iphone-logo.png" alt="">Download on appstore</a>
              </div>
            </div>        
        </div>
   