<header class="fixed">
    <div class="logo align-left">
        <a href="/"><img class="logo-main" src="/assets/img/logo.png" alt=""></a>
    </div>
    <nav class="navbar align-right">
        <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/features">FEATURES</a></li>
            <li><a href="/download">DOWNLOAD</a></li>
            <li><a id= "blog-btn" href="/blog">BLOG</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</header>