<section id="nose">
    <div class="container">
        <div class="nose-content">
            <h1 class="nose-heading">Chocolate <span class="white-words">Pudding Dessert Jelly </span>Fruit cake tart
                jelly wa<span class="white-words">fer.</span></h1>
            <p class="nose-para">Donut cupcake lemon drops dragee liquorice apple pie poweder. Topping sweet lollipop
                souffle chocolate liquorice candy canes.</p> <a href="/" class="nose-btn">Download</a>
        </div>
    </div>
</section>